.modal-head{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.modal-main{
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    border: solid 2px;
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px 5px ;
}
.modal-main button{
    margin-top: 10x;
    padding: 7px 15px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgb(0, 47, 255);
    color: aliceblue;
    border: none;
    
}
.top-button{
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: auto;
}

